<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAMU ratemyprofessors.com by course</title>
    <style>
        body {
            font-family: sans-serif;
        }
        
    </style>
</head>
<body>
    <h2>Bug Report</h2>
    <form method="post">    
        Report a bug: <input name="bugReport"> <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
